* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }

  .row {
    justify-content: center;
    
  }

  .card-height {
    border: 2px solid;
    min-height: 500px;
    box-shadow: 7px 9px 15px 5px;
  }

  hr {
    border: 5px inset;
  }

  h6 {
    font-size: 16px;
    margin-top: 8px;
  }
  
  .post-body{
    margin: 22px 0px;
    text-align: justify;
  }

  .card-img {
    width: 45%;
  }

  .comment-email {
    font-size: 12px;
  }
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 68px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .footer {
    bottom:0;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    width:100%;
  }

  .ScrollStyle
  {
    max-height: 300px;
    overflow-y: scroll;
  }

  @media only screen and (max-width: 800px) {
    body {
      margin: 0px 20px;
    }

    .row{
      margin: 0px 20px;
    }

    .card-height {
      box-shadow: 7px 1px 14px 0px;
    }
  }
  
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }



