* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }

  .row {
    justify-content: center;
    
  }
  
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  
  .card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 
  .footer {
    position:absolute;
    bottom:0;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
    width:100%;
  }
  
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }